<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
   <extension
         id="flintstones.entrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="flintstones.gathering.cloud.branding"
            path="/flintstones"
            applicationId="flintstones.gathering.cloud.app"
            id="flintstones.entrypoint">
      </entrypoint>
   </extension>
   <extension
         id="flintstones.gathering.cloud.app"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            cardinality="singleton-global"
            visible="true">
         <run
               class="flintstones.gathering.cloud.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="flintstones.gathering.cloud.app"
            name="%product.name">
         <property
               name="appName"
               value="flintstones.gathering.cloud">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="flintstones.gathering.cloud.app"
            name="%product.name.0">
      </product>
   </extension>
   <extension
         point="sinbad2.database">
      <database
            connector="sinbad2.database.connector.mysql"
            id="flintstones.gathering.cloud.caepia.database">
         <parameter
               id="url"
               value="localhost">
         </parameter>
         <parameter
               id="dbname"
               value="db">
         </parameter>
         <parameter
               id="user"
               value="root">
         </parameter>
         <parameter
               id="password"
               value="admin">
         </parameter>
      </database>
   </extension>
   <extension
         point="sinbad2.mail.account">
      <account
            mail="ceatic.ujaen@gmail.com"
            password="zFcLA?lPdv">
         <property
               id="mail.smtp.auth"
               value="true">
         </property>
         <property
               id="mail.smtp.starttls.enable"
               value="true">
         </property>
         <property
               id="mail.smtp.host"
               value="smtp.gmail.com">
         </property>
         <property
               id="mail.smtp.port"
               value="587">
         </property>
      </account>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="flintstones.gathering.cloud.view.ProblemsPerspective"
            id="flintstones.gathering.cloud.problems.perspective">
      </perspective>
      <perspective
            class="flintstones.gathering.cloud.view.FrameworkStructuringPerspective"
            id="flintstones.gathering.cloud.frameworkstructuring.perspective"
            name="%perspective.name.0">
      </perspective>
      <perspective
            class="flintstones.gathering.cloud.view.GatheringPerspective"
            id="flintstones.gathering.cloud.gathering.perspective"
            name="%perspective.name.1">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.ProblemsView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.problemsView"
            name="%view.name">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.ProblemView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.problemView"
            name="%view.name.0">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.SurveysView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.surveysView"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.SurveyView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.surveyView"
            name="%view.name.2">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.frameworkstructuring.DomainAssignmentView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.domainassignments"
            name="%view.name.3">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.frameworkstructuring.ElementAssignmentView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.elementassignments"
            name="%view.name.4">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.frameworkstructuring.DomainIndexView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.domainindex"
            name="%view.name.5">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.frameworkstructuring.DomainView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.domainview"
            name="%view.name.6">
      </view>
      <view
            allowMultiple="true"
            class="flintstones.gathering.cloud.view.ValuationView"
            icon="icons/sample3.gif"
            id="flintstones.gathering.cloud.view.valuationview"
            name="%view.name.7">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.name"
            id="flintstones.gathering.cloud.category">
      </category>
      <category
            id="flintstones.gathering.cloud.caepia.category.fe"
            name="%category.name.0">
      </category>
      <command
            name="%command.name"
            description="%command.description"
            categoryId="flintstones.gathering.cloud.category"
            id="flintstones.gathering.cloud.open">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.0"
            id="flintstones.gathering.cloud.importProblem"
            name="%command.name.0">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.1"
            id="flintstones.gathering.cloud.close"
            name="%command.name.1">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.caepia.category.fe"
            description="%command.description.2"
            id="flintstones.gathering.cloud.openFrameworkStructuringPerspective"
            name="%command.name.2">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.3"
            id="flintstones.gathering.cloud.openGatheringPerspective"
            name="%command.name.3">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.4"
            id="flintstones.gathering.cloud.openProblemsPerspective"
            name="%command.name.4">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.5"
            id="flintstones.gathering.cloud.refreshAction"
            name="%command.name.5">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.6"
            id="flintstones.gathering.cloud.importProblemMenu"
            name="%command.name.6">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.7"
            id="flintstones.gathering.cloud.userAccount"
            name="%command.name.7">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.8"
            id="flintstones.gathering.cloud.exportProblem"
            name="%command.name.8">
      </command>
      <command
            categoryId="flintstones.gathering.cloud.category"
            description="%command.description.9"
            id="flintstones.gathering.cloud.exportProblemMenu"
            name="%command.name.9">
      </command>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            favicon="icons/favicon.ico"
            id="flintstones.gathering.cloud.branding"
            themeId="org.eclipse.rap.design.example.business.theme"
            title="%branding.title">
         <presentationFactory
               defaultLayoutId="org.eclipse.rap.design.example.business.layout"
               name="Business PresentationFactory"
               id="org.eclipse.rap.design.example.business.factory">
            <defaultStackPresentation
                  id="org.eclipse.rap.design.example.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>

</plugin>
