<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sinbad2.database" name="%extension-point.name" schema="schema/sinbad2.database.exsd"/>
   <extension-point id="sinbad2.database.connector" name="%extension-point.name.0" schema="schema/sinbad2.database.connector.exsd"/>
</plugin>
